[DKIM] Use of relaxed/simple cannonicalization can lead to invalid DKIM signatures for long header lines

This issue comes from mail-in-a-box upstream, see https://github.com/mail-in-a-box/mailinabox/issues/2239.

Copy-Paste summary of the issue:

Currently, mail in a box configures opendkim to use `relaxed/simple` canonicalization (ll34 https://github.com/mail-in-a-box/mailinabox/blob/main/setup/dkim.sh ). This can lead to verification issues with long `To:` headers; Specifically, whitespaces/\r\n/\n get injected, which let verification fail, see https://www.rfc-editor.org/rfc/rfc6376#section-3.4 and https://www.rfc-editor.org/rfc/rfc6376#section-3.5.

(I am currently a bit unsure why this is an issue for `relaxed/simple` being used; Technically this should be a `simple/(relaxed|simple)` issue).

This does only cause issues for very long To: headers.

# Reproducing the issue
To test this:
- start a test for a system using mail-in-a-box here: https://www.email-security-scans.org/ (select "store emails for me")
- Wait for measurement mail to arrive and reply
- See that DKIM verification failed
- Download all data and extract it.
- Run manual verification with dkimpy: `sent-messages % cat 1.mbox | dkimverify` -> `signature verification failed`
- Edit the message and fix the broken headers (most likely To: having newlines added)
- Rerun verification: `sent-messages % cat 1.mbox | dkimverify` -> `signature ok`

This issue also reproduces when sending to, e.g., google. To test that, start a test (or create a long to yourself), but this time before sending the test message, add a gmail address to the `To:` as well. You will see that the mail is not validated by Gmail anymore.

# Suggested solution

Switch to relaxed/relaxed canonicalization for DKIM signing. 


This is how a normal email looks...
![image](https://user-images.githubusercontent.com/49404533/221436395-6b313155-463c-43b0-a186-2d242f339d6a.png)

This is the error as an example when sending to a lots of recipients
![image](https://user-images.githubusercontent.com/49404533/221436296-af2ebe19-be64-4023-abc8-52688539f855.png)

NOTE: I was testing my mail server with a tool [ichdasich](https://github.com/ichdasich) helped develop, and found this error... wich ichdasich graciously filed as a bug far better than i could.

According to [RFC6376 Section 3.4](https://www.rfc-editor.org/rfc/rfc6376#section-3.4)

It should be better to run relaxed/relaxed, which allows some minor modification the mail-header.